#Create-Join-Game {
  margin: 3% 10%;
  font-family: "Montserrat";
  font-size: 20px;
}
title {
  margin: auto;
  width: 50%;
  height: 15%;
  padding: 10px;
  text-align: center;
  margin-bottom: 10%;
  color: white;
  font-size: 2.5em;
}

button {
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  border-radius: 40px;
  border: none;
  font-size: 1.1em;
  padding: 8px 24px;
  width: fit-content;
}

button:hover {
  background: #c0b7e8;
  border: #8176af;
}

.main-create-join {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  gap: 5%;
}

.create-game,
.join-game {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 10% auto 0 auto;
  justify-content: space-between;
}
.create-game p {
  text-align: center;
  border-radius: 40px;
  border-width: 1.5px;
  border-style: solid;
  border-color: white;
  padding: 15px 0;
  margin-top: 0;
  color: white;
  max-width: 200px;
}
.join-game input {
  text-align: center;
  border-radius: 40px;
  border-width: 1.5px;
  border-style: solid;
  border-color: white;
  padding: 15px 0;
  margin-top: 0;
  font-size: 20px;
  background-color: #302c42;
  color: white;
  max-width: 200px;
}
